
    <h1>Catégorie</h1>



   <ul class="list-group">
    <li class="list-group-item"><u>N°</u> : {{ category.id }}</li>
      <li class="list-group-item"><u>Nom</u> : {{ category.nom }}</li>
      
  </ul>

