<head>
    <title></title>
     <link href="{{asset('public/css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body>
   <div class="panel-body">
  <p>Nom :  {{ projet.Nom }}</p>
  <p>Description : {{ projet.Description }}</p>
  <p>Montont : {{ projet.Montant }}fcf</p>
 </div>
</body>
</html>