{% extends "AdministrationBundle:Default:admin.html.twig" %}
 {% block corps %}
   
        <div class="col-md-12 portlets">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="pull-left"></div>
                  <div class="widget-icons pull-right">
                    <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a> 
                    <a href="#" class="wclose"><i class="fa fa-times"></i></a>
                  </div>  
                  <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                  <div class="padd">
                  <form action="">
                            <table id="monpanier" class="table montable-bordered " style="border: 1px solid #424242;">
                                <thead class="monentete-success">
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Montant</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in projet %}
                                    <form action="#" method="get">
                                    <tr>
                                        <td >{{ p.id }}</td>
                                        <td >{{ p.Nom }}</td>
                                         <td >{{ p.Montant }}</td>
                                         <td>
                                             
                                              <center>
                                            <button type="button" class="btn-setting"><i class="glyphicon glyphicon-edit"></i></button>
                                            
                                            <button type="button" class="btn btn-default btn-sm">
                                            <a  href="{{ path('administration_affiche',{'id':p.id}) }} " style="color:red;text-decoration:none"><i class="btn-sm "></i></a>
                                            </button>
                                            </center>
                                         </td>
                                    </tr>
                                    </form>
                                {% endfor %}
                                </tbody>
                            </table>
                        </form>
                  </div>
                </div>
            </div>
        </div>
{%endblock%}             